#infobody {
  background-color:deepskyblue;
  margin:0px;
}
#h3info {
margin:10px;
}
#h3afspraak {
  text-align:left;
  margin:20px;
}

#infoh4 {
  margin:30px;
  vertical-align: top;
  margin:20px;
}

#kleurendiv img {
  width: 100%;
  height: 100%;
  
}
h1 {
  background-color:deepskyblue;
  padding: 3%;
  color: white;
  text-align: center;
  font-size: 350%;
  margin: 0px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 61px;
  text-decoration: none;
  background-color: black;
}
  li a:hover:not(.active) {
  background-color: deepskyblue;
}
ul li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

h2 {
  margin: 0px;
}

#vbhuis1 {
  width:30%;
  margin:0%;
  margin-left: 15%;
  margin-top: 5%;
  float: left;
}

#ph3 {
  margin-left: 10%;
  margin-top:12%;
  float: left;
  font-size: 150%;
}

#vbhuis2 {
  width:30%;
  margin:0%;
  margin-left: 10%;
  margin-top: 5%;
  float: right;
}

#ph4 {
  margin-left: 10%;
  margin-top:12%;
  float: left;
  font-size: 150%;
}

#h3voorbeelden {
}


h4 {
  margin:0px;
}
#infoh5 
{
font-size: 150%;
  
  float: bottem; margin-bottom:20px  ;
}