h1 {
  background-color:deepskyblue;
  padding: 3%;
  color: white;
  text-align: center;
  font-size: 350%;
  margin: 0px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: black;
}
  li a:hover:not(.active) {
  background-color: deepskyblue;
}
li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

h2 {
  margin: 0px;
}

h3 {
  margin:0px;

#vbhuis1 {
  width:30%;
  margin:0%;

  
}
h4 {

  margin:0px;
}
  
}
{
font-size:200%;
  
}
